Repository jpjj/TSBee: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, pytest, cargo-bench-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.5
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # Rust tests
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        entry: cargo test
        language: system
        types: [rust]
        pass_filenames: false

  # Python tests (if any are added)
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
        files: ^tests/.*\.py$

  # Rust benchmarks (quick check only)
  - repo: local
    hooks:
      - id: cargo-bench-check
        name: cargo bench check
        entry: cargo bench --no-run
        language: system
        types: [rust]
        pass_filenames: false

  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-toml

added benchmark and atsp handling
  .github/workflows/CI.yml
Due: none

added benchmark and atsp handling
  pyproject.toml
  python/ab_test_algorithm_performance.py
  python/playground.py
  python/playground_find_bug.py
  uv.lock
Due: none

added float support for input
  benchmarks/README.md
  benchmarks/run_benchmarks.py
  pyproject.toml
  src/lib.rs
  src/preprocess.rs
  tests/test_python_api.py
  uv.lock
Due: cargo-fmt, cargo-clippy, cargo-test, pytest, cargo-bench-check

added documentation
  .github/workflows/docs.yml
  docs/Makefile
  docs/README.md
  docs/source/api.rst
  docs/source/benchmarks.rst
  docs/source/conf.py
  docs/source/examples.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/quickstart.rst
  pyproject.toml
  uv.lock
Due: none

added more documentation
  Cargo.lock
  Cargo.toml
  benchmarks/run_benchmarks.py
  docs/3opt_algorithm.md
  docs/source/api.rst
  docs/source/benchmarks.rst
  docs/source/examples.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/quickstart.rst
  examples/README.md
  examples/basic_usage.py
  examples/benchmark_comparison.py
  examples/random_cities.py
  examples/real_world_example.py
  plan.md
  pyproject.toml
  src/lib.rs
  src/penalties/candidates/held_karp.rs
  src/postprocess.rs
  src/solver.rs
  tests/test_alpha_nearness.rs
  tests/test_asymmetry.rs
  tests/test_held_karp.rs
  tests/test_python_api.py
  uv.lock
Due: cargo-fmt, cargo-clippy, cargo-test, pytest, cargo-bench-check

added license and changed pyproject.toml for publishing
  pyproject.toml
Due: none

added license and changed pyproject.toml for publishing
  LICENSE
Due: none

modified get_rel_pos to make it slightly faster
  src/local_move.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added heap mst algorithm
  Cargo.toml
  examples/ab_test_heap_mst.rs
  implement_better_min_1_tree.md
  src/input.rs
  src/penalties/candidates.rs
  src/penalties/candidates/heap_mst.rs
  src/penalties/candidates/held_karp.rs
  src/solver.rs
  tests/test_heap_mst_performance.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added heap mst algorithm
  .benchmarks/mst_benchmark.rs
  Cargo.toml
  examples/ab_test_heap_mst.rs
  implement_better_min_1_tree.md
  src/input.rs
  src/penalties/candidates.rs
  src/penalties/candidates/heap_mst.rs
  src/penalties/candidates/held_karp.rs
  src/penalties/candidates/min_spanning_tree.rs
  src/penalties/candidates/utils.rs
  src/solver.rs
  src/solver/parameters.rs
  tests/test_alpha_nearness.rs
  tests/test_heap_mst_performance.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

commit for tsp package.
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  tsp/Cargo.toml
  tsp/src/city.rs
  tsp/src/instance.rs
  tsp/src/lib.rs
  tsp/src/problem.rs
  tsp/src/problem/distance_matrix.rs
  tsp/src/problem/euclidean.rs
  tsp/src/solution.rs
  tsp/src/solution/list.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added "points and function" as problem implementor
  benchmarks/data/best_values.yaml
  benchmarks/src/lib.rs
  benchmarks/src/read_problem_file.rs
  tsp/src/instance.rs
  tsp/src/problem.rs
  tsp/src/problem/points_and_function.rs
  tsp/src/problem/points_and_function/att.rs
  tsp/src/problem/points_and_function/euc_2d.rs
  tsp/src/problem/points_and_function/geo.rs
  tsp/src/problem/points_and_function/man_2d.rs
  tsp/src/problem/points_and_function/max_2d.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added script for validating instances
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/src/lib.rs
  benchmarks/src/read_best_values_file.rs
  benchmarks/src/read_problem_file.rs
  benchmarks/src/read_problem_file/parse_tsp_file.rs
  benchmarks/src/read_tour_file.rs
  benchmarks/tests/validate_instances.rs
  tsp/src/instance.rs
  tsp/src/problem.rs
  tsp/src/problem/points_and_function.rs
  tsp/src/problem/points_and_function/att.rs
  tsp/src/problem/points_and_function/euc_2d.rs
  tsp/src/problem/points_and_function/geo.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

fixed geo distance
  benchmarks/src/read_problem_file.rs
  tsp/src/problem/points_and_function/geo.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

fixed non-optimal values and added ceil_2d
  benchmarks/data/best_values.yaml
  benchmarks/src/read_problem_file.rs
  tsp/src/problem.rs
  tsp/src/problem/points_and_function/ceil_2d.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

removed not useful instance, adjusted best_values
  benchmarks/data/best_values.yaml
  benchmarks/data/problems/linhp318.tsp
  benchmarks/data/solutions/linhp318.opt.tour
  benchmarks/tests/validate_instances.rs
  tsp/src/problem/points_and_function/euc_2d.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added edge struct
  tsp/src/edge.rs
  tsp/src/lib.rs
  tsp/src/solution.rs
  tsp/src/solution/list.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added Candidates package with nearest neighbor
  Cargo.lock
  Cargo.toml
  candidates/Cargo.toml
  candidates/src/lib.rs
  tsp/src/problem.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added graph package
  Cargo.lock
  Cargo.toml
  graph/Cargo.toml
  graph/src/lib.rs
  tsp/src/edge.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added delaunay triangulation
  Cargo.lock
  graph/Cargo.toml
  graph/src/delaunay.rs
  graph/src/lib.rs
  tsp/src/problem/points_and_function.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added alpha nearness, min1tree and mst packages
  Cargo.lock
  Cargo.toml
  alpha_nearness/Cargo.toml
  alpha_nearness/src/lib.rs
  graph/src/lib.rs
  min1tree/Cargo.toml
  min1tree/src/lib.rs
  mst/Cargo.toml
  mst/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added content to mst
  Cargo.lock
  graph/src/lib.rs
  mst/Cargo.toml
  mst/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

new commit
  mst/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

finished min1tree crate
  Cargo.lock
  graph/src/lib.rs
  min1tree/Cargo.toml
  min1tree/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

created min1tree struct for better handling in alpha nearness
  Cargo.lock
  alpha_nearness/Cargo.toml
  alpha_nearness/README.md
  alpha_nearness/src/lib.rs
  min1tree/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

finished alpha_nearness package
  alpha_nearness/README.md
  alpha_nearness/src/lib.rs
  graph/src/lib.rs
  min1tree/src/lib.rs
  mst/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check

added pi to graph definition
  alpha_nearness/src/lib.rs
  graph/src/lib.rs
  min1tree/src/lib.rs
  mst/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-bench-check
